.wrapper {
    background-image: url(image/fon.png);
    background-color: brown;
    height: 500px;
}

.header {
    
}

.header__container-left {

}

.header__logo {

}

.header__navigation {

}

.header__container-right {

}

.header__container-right-sign {

}